<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Log in</title>
<link rel="stylesheet" href="./static/style.css">
</head>
<body>

<div id="bg"></div>
<form action ="./D_P" method="POST" >
    <a href="./">Log out</a>
<center><label><h2>Doctor's Page<h2></label></center>
    <div class="form-field">
        <select name="category">
            <option value="Orthopedic">Orthopedic</option>
            <option value="Dermatologist">Dermatologist</option>
            <option value="Cardiologist">Cardiologist</option>
            <option value="Opthamologist">Opthamologist</option>
            <option value="ENT">ENT</option>   
            <option value="Dentist">Dentist</option>
            <option value="Paediatrician">Paediatrician</option>
            <option value="Neurologist">Neurologist</option>
            <option value="General Physician">General Physician</option>
        </select>
    </div>
    <div class="form-field">
<button class="btn" type="submit">Sign in</button>
</div>
</form>
</div>
</body>
</html>
