<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link rel="stylesheet" href="./static/style.css">
</head>
<body>
    
<div id="bg"></div>
<form>
    <a href="./">Log out</a>
<center><label><h2>Dashboard<h2></label></center>
<div class="form-field">
<button class="btn" type="submit"><a href="./history">History</a></button>
</div>
<div class="form-field">
<button class="btn" type="submit"><a href="./new-booking">New_booking</a></button>
</div>
</form>
</div>
</body>
</html>