<html lang="en">
<head>
<meta charset="UTF-8">
<title>Log in</title>
<link rel="stylesheet" href="./static/style.css">
</head>
<body>

<div id="bg"></div>
<form action ="./User-Home" method="POST">
<center><label><h2>Prescription<h2></label></center>
<div class="form-field">
<label>date   :   {{date}}</label>
</div>
<div class="form-field">
<label>Category  :   {{cat}}</label>
</div>
<div class="form-field">
<label>Report  :   {{text}}</label>
</div>
</form>
</div>
</body>
</html>